body{
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    }

h1{font-size: 50px;
padding-left: 10px;}

#top-border-left{border-left:4px solid skyblue;
}

.blue{color: skyblue;}

.flexible-container{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}

.half-width img{width: 80%;}

.button{
    text-decoration:none ;
background-color:skyblue ;
color: white;
font-weight: 200;
padding: 10px 20px;
border-radius: 5px;
}
#down-pad{padding-bottom: 15px;}
#top-pad{padding-top: 15px;}



